<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Question Pine</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container-md">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/homepage">QUESTION PINE</a></p>
      </div>
        <ul class="nav navbar-nav navbar-default bold-nav">
          <!-- 6 -->
          <% if(user) { %>
              <li id="questions"><a href="/questions/<%= user.userName %>" >QUESTIONS</a></li>
          <% }else { %>
             <li id="questions"><a href="/signin" >QUESTIONS</a></li>
          <% } %>
          <li id="contact"><a href="/leaderboard">LEADERBOARD</a></li>
          <li id="home"><a href="/chatroom">CHATROOM</a></li>
          <li id="about"><a href="/aboutus">ABOUT US</a></li>
        </ul>
        <form class="form-inline">
          <% if(user) { %>
            <a href="/<%= user.userName %>">
              <div class="avatar-prof">
                <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="Avatar">
              </div>
              &nbsp;
              <p style="display:inline; font-size: large;"><strong><%= user.userName %></strong> </p>
            </a>
            <a href="/signout"><button  class="btn btn-info btn-lg" type="button">Sign Out</button></a>
          <% } else { %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/signup"><button class="btn btn-info btn-lg" type="button">Sign Up</button></a>
          <a href="/signin"><button class="btn btn-info btn-lg" type="button">Sign In</button></a>
          <% } %>
        </form>
    </div>
  </nav>


  <body>