<%- include("partials/header.ejs") -%>

<div class="about-section">
  <h1>About Us</h1>
  <h3>Get started with Question Pine.</h3>
  <div class="container">
  <h4>Confused between 1000+ leetcode questions and endless GFG articles 
    Sit back and get your coding gear on, 
    Solve handpicked and carefully curated 450 questions on questionPine to ensure your selection in your dream company.</h4>
  </div>
</div>
<!-- Team Section -->
<div class="w3-container" style="padding:25px 16px" id="team">
  <h3 class="w3-center"><b>OUR TEAM</b></h3>
  <div class="w3-row-padding" style="margin-top:64px">
    
    <div class="w3-col l4 m4 w3-margin-bottom">
      <div class="w3-card">
        <img src="./img/sawan.jpg" alt="Sawan" style="width:100%">
        <div class="w3-container">
          <h3><b>Sawan Pandita</b></h3>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m4 w3-margin-bottom">
      <div class="w3-card">
        <img src="./img/abhishek.jpeg" alt="Abhishek" style="width:100%">
        <div class="w3-container">
          <h3><b>Abhishek Joshi</b></h3>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m4 w3-margin-bottom">
      <div class="w3-card">
        <img src="./img/rohit.jpeg" alt="Rohit" style="width:100%">
        <div class="w3-container">
          <h3><b>Rohit Pal</b></h3>
        </div>
      </div>
    </div>
    
  </div>
</div>

<%- include("partials/footer.ejs") -%>
