<%- include("partials/header.ejs") -%>

<div class="login-form">
    <form action="/addQuestion" method="POST">
		<div class="avatar">
			<img src="https://www.tutorialrepublic.com/examples/images/avatar.png" alt="Avatar">
    		</div>
            <h2 class="text-center">Add question</h2>
            <div class="form-group">
            	<input type="text" class="form-control" name="quesName" placeholder="question Name" >
            </div>
    		<div class="form-group">
            <input type="url" class="form-control" name="quesLink" placeholder="Link" >
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="quesType" placeholder="Type" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
        </div>

    </form>
</div>


<%- include("partials/footer.ejs") -%>
