<%- include("partials/header.ejs") -%>

<div class="login-form">
    <form action="/addQuestion" method="POST">
            <h2 class="text-center">Add Question</h2>
            <div class="form-group">
            	<input type="text" class="form-control" name="quesName" placeholder="Question Name" required>
            </div>
    		<div class="form-group">
            <input type="url" class="form-control" name="quesLink" placeholder="Question Link" required>
        </div>

        <div class="form-group">
            <select type="text" class="form-control" name="quesType" placeholder="Question Type" required >
                <option value="" disabled selected hidden>Question Type</option>
                <option value="Array">Array</option>
                <option value="String">String</option>
                <option value="Matrix">Matrix</option>
                <option value="Linked List">Searching & Sorting</option>
                <option value="Linked List">Linked List</option>
                <option value="Stack">Binary Trees</option>
                <option value="Queue">Binary Search Trees</option>
                <option value="Tree">Greedy</option>
                <option value="Graph">Backtracking</option>
                <option value="Greedy">Stacks & Queues</option>
                <option value="Backtracking">Heap</option>
                <option value="Recursion">Graph</option>
                <option value="Hash Table">Trie</option>
                <option value="Dynamic Programing">Dynamic Programing</option>
                <option value="Bit Manipulation">Bit Manipulation</option>

            </select>
        </div>
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
        </div>

    </form>
</div>


<%- include("partials/footer.ejs") -%>
