<%- include("partials/header.ejs") -%>

<form  action="/discussion/<%=creatorUserName%>/create" method="POST">

  <input type="text" name="name" value="">
  <input type="text" name="description" value="">
  <button type="submit" name="button">Create</button>
</form>

<%- include("partials/footer.ejs") -%>
