<%- include("partials/header.ejs") -%>

<form class="" action="discussion/<%= creatorUserName%>/create" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="description" value="">
  <button type="submit" name="button">Create</button>
</form>

<%- include("partials/footer.ejs") -%>
