<%- include("partials/header.ejs") -%>

<div class="login-form">
    <form action="/forgot-password" method="POST">
		<div class="avatar">
			<img src="https://www.tutorialrepublic.com/examples/images/avatar.png" alt="Avatar">
		</div>
        <h2 class="text-center">Reset Password</h2>   
        <h5 class="text-center">Please check your email to reset your password</h3>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Enter your Registered Email id" >
        </div>       
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send Email</button>
        </div>
    </form>
</div>

<%- include("partials/footer.ejs") -%>
