<%- include("partials/header.ejs") -%>
<script type="text/javascript">
  
</script>
  <div class="container">
    <form class="form-inline">
     
      <a href="/signin">
        <button class="btn btn-info btn-lg" type="button">Sign In</button>
      </a>
      <a href="/signup">
        <button class="btn btn-info btn-lg" type="button">Sign Up</button>
      </a>
    </form>
  </div>

<%- include("partials/footer.ejs") -%>
