<%- include("partials/header.ejs") -%>

<div class="container">
    <header class="jumbotron">
      <h3 class="about-section"><b>Notifications</b></h3>
          
    </header>
</div>
<div class="container">
    <div class="panel panel-default">
        <h1>No notifications till date</h1> 
    </div>
</div>


<%- include("partials/footer.ejs") -%>