<%- include("partials/header.ejs") -%>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Array</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <th>#</th>
        <th>Question</th>
        <th>Done</th>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>Find Max</td>
          <td>
            <button type="button" name="button">Done</button>
          </td>
        </tr>

        <tr>
          <td>2</td>
          <td>Find duplicate</td>
          <td>
            <button type="button" name="button">Done</button>
          </td>
        </tr>

        <tr>
          <td>3</td>
          <td>Merge intervals</td>
          <td>
            <button type="button" name="button">Done</button>
          </td>
        </tr>

        <tr>
          <td>4</td>
          <td>Inversion Count</td>
          <td>
            <button type="button" name="button">Done</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Matrix</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <th>#</th>
        <th>Question</th>
        <th>Done</th>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>Spiral Traversal</td>
          <td>
            <button type="button" name="button">Done</button>
          </td>
        </tr>

        <tr>
          <td>2</td>
          <td>Dividing</td>
          <td>
            <button type="button" name="button">Done</button>
          </td>
        </tr>

        <tr>
          <td>3</td>
          <td>Matrix multiplicaiton</td>
          <td>
            <button type="button" name="button">Done</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>



<%- include("partials/footer.ejs") -%>
