<%- include("partials/header.ejs") -%>

<div class="signup-form">
    <form action="/signup" method="POST">
		<h2>Change Your Password Here</h2>
      
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" >
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" >
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" >
        </div>        
       
		<div class="form-group">
            <button type="submit" class="btn btn-info btn-lg btn-block">Save Changes</button>
        </div>
    </form>
</div>

<%- include("partials/footer.ejs") -%>
