::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 1rem;
}

.messages-box,
.chat-box {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 0.5rem;
  background-color: white;
  height: 510px;
  overflow-y: scroll;
  
}

.chat-box-msg{
  padding: 15px 20px;
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  border-radius: 0.5rem;
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 1rem;
  border-color: rgb(68, 62, 62);
  border-width: 3px;
  border-style: solid;
  background-color: #1abc9c;
}


.msg {
  width: 90%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 1rem;
}

.glyphicon-send {
  font-size: 45px;
}
input::placeholder {
  font-size: 1rem;
  color: #999;
}

.media-body{
  border-color: grey;
  padding: 5px 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: grey;
  border-radius: 3px;
  color: white;
  background-color: #1abc9c;
}