
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 5px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  box-shadow: 0px 0.8px 20px rgba(0, 0, 0, 0.3);
}



.navbar-nav li a:hover {
  color: #1abc9c !important;
}
.navbar-right{
  padding-right: 50px;
}

.footer-margin {
  margin-top: 30px;
}
.th-right{
  text-align: right; 
}

.disgrow {
  height: 55px;
  width: 100%;
  float: left;
  position: relative;
  text-align: left;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid black
  
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


/* Style The Dropdown Button */
.dropbtn {
  color: #1abc9c;
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  padding-right: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #696666;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fdfdfd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.glyphicon.glyphicon-bell {
  font-size: 35px;
}
.badge-primary{
  background-color: #1abc9c;
}

/* notification styles */
.group-notification {
  padding: 15px;
  text-align: left;
  color: black;
}
.group-notification button{
  float: right;
  text-align: center;
  margin-right: 10px;
}

.group-description{
  background-color: white;
  color: white;
}

.grow {
  height: 55px;
  width: 100%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: left;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid black
  
}

.grow:hover {
  height: 140px;
  width: 100%;
  background-color: #1abc9c;
}

/* -------notification styles */
.about-section {
  padding: 20px;
  text-align: center;
  background-color: #1abc9c;
  color: white;
}

.qtypes-section {
  padding: 15px;
  text-align: center;
  background-color: #1abc9c;
  color: white;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.jumbotron{
  background-color: #1abc9c;
}

.footer {
  text-align: center;
  height: 60px;
  background-color: #1abc9c;
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.3) ;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.text-area {
  height: 250px;
}

.panel {
  margin: 30px;
}

.bold-nav {
  font-weight: bold;
}

.btn-info {
  background-color: #d8dad9;
}
.btn-success li a:hover {
  background-color: azure;
}

.footer-text {
  padding: 20px;  
}
.search-form-control{
  height: 34px;
}

.form-control {
  height: 45px;
  box-shadow: none;
  color: #248571;
}
.form-control:focus {
  border-color: #1abc9c;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 600px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 20px;
}
.signup-form h2 {
  color: #636363;
  margin: 0 0 20px;
  position: relative;
  text-align: center;
  font-size: 35px;
}
.signup-form h2:before,
.signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: rgb(255, 254, 254);
  margin-bottom: 20px;
  text-align: center;
}
.signup-form form {
  color: rgb(255, 255, 255);
  border-radius: 3px;
  margin-bottom: 15px;
  background: #1abc9c;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}
.signup-form .btn {
  font-size: 20px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #1abc9c;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #654bc2;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}

.btn-info {
  background-color: #1abc9c;
}

.form-control {
  min-height: 70px;
  background: #fff;
  box-shadow: none !important;
  border-color: #e3e3e3;
}
.form-control:focus {
  border-color: #70c5c0;
}
.form-control,
.btn {
  border-radius: 2px;
}
.login-form {
  width: 550px;
  margin: 0 auto;
  padding: 100px 0 30px;
  background-color: whitesmoke;
}
.login-form form {
  color: #7a7a7a;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 23px;
  background: #ececec;
  box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
}
.login-form h2 {
  font-size: 32px;
  margin: 35px 0 25px;
}
.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #1abc9c;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
  width: 100%;
}
.login-form input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.login-form .btn,
.login-form .btn:active {
  font-size: 20px;
  font-weight: bold;
  background: #1abc9c !important;
  border: none;
  margin-bottom: 20px;
}
.login-form .btn:hover,
.login-form .btn:focus {
  background: #1abc9c !important;
}
.login-form a {
  color: #1abc9c;
  text-decoration: underline;
  font-size: 20px;
}
.login-form a:hover {
  text-decoration: none;
}
.login-form form a {
  color: #7a7a7a;
  text-decoration: none;
}
.login-form form a:hover {
  text-decoration: underline;
}
.login-form .bottom-action {
  font-size: 16px;
}

.login-form p {
  font-size: 20px;
}

.avatar-prof {
  position:relative;
  /* margin: 0 auto; */
  left: 0;
  right: 0;
  /* top: -50px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1abc9c;
  float:left;
  margin-left: 23%;
}
.avatar-prof img {
  width: 100%;
  
}


body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
  margin-top: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 30px 0rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.3);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#1abc9c), to(#1abc9c));
    background: linear-gradient(to right,#10c9a4 , #62a3db )
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 16px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 16px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #50565c !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 40px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}


